<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" />

    <link href="./default.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./default.js" defer></script>

    <link rel="apple-touch-icon" sizes="57x57" href="./../favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./../favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./../favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./../favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./../favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./../favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./../favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./../favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./../favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./../favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./../favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./../favicon/favicon-16x16.png">
    <link rel="manifest" href="./../favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#2a4067">

    <title>Ignis Bolão - IGNIS: NATURAL GAS PLANNING PLATFORM</title>
</head>

<body>
    <div id="app">
        <v-app>
            <header>
                <v-container style="max-width: 1140px">
                    <v-row class="pa-4">
                        <v-col cols="6" style="margin-top: 25%">
                            <v-card class="px-4 py-5">
                                <v-card-title class="font-weight-bold">
                                    Informe os Times Partcipantes
                                </v-card-title>

                                <v-card-subtitle class="mb-3 red--text">
                                    Preencha o Nome do Time e Estado
                                    separado pelo sinal de ponto e vírgula
                                </v-card-subtitle>

                                <v-card-text class="pb-0">
                                    {{ text }}
                                    <v-textarea outlined label="Time; Estado" :value="text" class="text-uppercase">
                                    </v-textarea>
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn color="yellow accent-4" @click="prepare()" class="ml-2 mb-3 black--text">
                                        Gerar Resultados
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </header>
            <v-container class="container">
                <v-row class="pa-4">
                    <v-col cols="12">
                        <div v-for="(round, index) in rounds" :key="index" class="my-16 py-16 rounded white">
                            <v-row justify="center" class="mt-6 mb-16">
                                <v-col cols="6" class="rounded bg-title-round pt-16 pb-8">
                                    <div class="text-h3 font-weight-medium text-center text-uppercase white--text">
                                        {{`${index + 1}ª`}} Rodada
                                    </div>
                                </v-col>
                            </v-row>
                            <v-row v-for="(game, index) in round.results" :key="index" justify="center" no-gutters
                                class="mb-6">
                                <v-col cols="4" class="pt-2 rounded"
                                    :class="game.team1.win ? 'bg-win bg-win-left' : 'bg-loser'">
                                    <div v-if="game.team1.double"
                                        class="text-center text-caption font-weight-medium text-uppercase red darken-1 white--text pa-1">
                                        <v-icon color="white" x-small style="margin-top: -3px;">
                                            fas fa-star
                                        </v-icon>
                                        <v-icon color="white" x-small class="mx-2" style="margin-top: -3px;">
                                            fas fa-star
                                        </v-icon>
                                        Rodada Dupla
                                        <v-icon color="white" x-small class="mx-2" style="margin-top: -3px;">
                                            fas fa-star
                                        </v-icon>
                                        <v-icon color="white" x-small style="margin-top: -3px;">
                                            fas fa-star
                                        </v-icon>
                                    </div>
                                    <v-list subheader style="background: none">
                                        <v-list-item>
                                            <v-list-item-content class="text-right">
                                                <div class="pb-3">
                                                    <v-avatar color="primary" rounded size="20">
                                                        <span class="white--text text-caption">
                                                            {{game.team1.serie}}
                                                        </span>
                                                    </v-avatar>
                                                </div>
                                                <v-list-item-title class="text-right text-h6">
                                                    <strong>{{game.team1.team}}</strong>
                                                </v-list-item-title>
                                                <v-list-item-subtitle class="text-right pb-2">
                                                    {{game.team1.state}}
                                                </v-list-item-subtitle>
                                                <div v-if="game.team1.win"
                                                    class="text-right orange--text text--darken-3 font-weight-medium text-uppercase">
                                                    Vencedor
                                                    <v-icon color="orange" small style="margin-top: -5px;">
                                                        fas fa-trophy
                                                    </v-icon>
                                                </div>
                                                <div v-if="game.team2.aTie"
                                                    class="text-right blue--text lighten-3 font-weight-medium text-uppercase">
                                                    Empate
                                                    <v-icon color="blue" small>
                                                        fas fa-balance-scale
                                                    </v-icon>
                                                </div>
                                                <div
                                                    class="text-right font-weight-bold text-uppercase text-caption blue-grey--text text--darken-1 pb-2">
                                                    Pontos:
                                                    {{game.team1.points}}
                                                </div>
                                            </v-list-item-content>
                                            <v-list-item-avatar size="128" rounded
                                                :class="{'pulse-win': game.team1.win}">
                                                <v-img :alt="`${game.team1.team} avatar`" :src="game.team1.photo">
                                                </v-img>
                                            </v-list-item-avatar>
                                        </v-list-item>
                                    </v-list>
                                </v-col>
                                <v-col cols="1" align-self="center">
                                    <div class="text-h1 text-right">
                                        {{game.team1.goals}}
                                    </div>
                                </v-col>
                                <v-col cols="1" align-self="center">
                                    <div class="text-h3 text-center">X</div>
                                </v-col>
                                <v-col cols="1" align-self="center">
                                    <div class="text-h1 text-left">
                                        {{game.team2.goals}}
                                    </div>
                                </v-col>
                                <v-col cols="4" class="pt-2 rounded"
                                    :class="game.team2.win ? 'bg-win bg-win-right' : 'bg-loser'">
                                    <div v-if="game.team1.double"
                                        class="text-center text-caption font-weight-medium text-uppercase red darken-1 white--text pa-1">
                                        <v-icon color="white" x-small style="margin-top: -3px;">
                                            fas fa-star
                                        </v-icon>
                                        <v-icon color="white" x-small class="mx-2" style="margin-top: -3px;">
                                            fas fa-star
                                        </v-icon>
                                        Rodada Dupla
                                        <v-icon color="white" x-small class="mx-2" style="margin-top: -3px;">
                                            fas fa-star
                                        </v-icon>
                                        <v-icon color="white" x-small style="margin-top: -3px;">
                                            fas fa-star
                                        </v-icon>
                                    </div>
                                    <v-list subheader style="background: none">
                                        <v-list-item>
                                            <v-list-item-avatar size="128" rounded
                                                :class="{'pulse-win': game.team2.win}">
                                                <v-img :alt="`${game.team2.team} avatar`" :src="game.team2.photo">
                                                </v-img>
                                            </v-list-item-avatar>

                                            <v-list-item-content>
                                                <div class="pb-3">
                                                    <v-avatar color="primary" rounded size="20">
                                                        <span class="white--text text-caption">
                                                            {{game.team2.serie}}
                                                        </span>
                                                    </v-avatar>
                                                </div>
                                                <v-list-item-title class="text-h6">
                                                    <strong>
                                                        {{game.team2.team}}
                                                    </strong>
                                                </v-list-item-title>
                                                <v-list-item-subtitle class="pb-2">
                                                    {{game.team2.state}}
                                                </v-list-item-subtitle>
                                                <div v-if="game.team2.win"
                                                    class="orange--text text--darken-3 font-weight-medium text-uppercase">
                                                    <v-icon color="orange" small>
                                                        fas fa-trophy
                                                    </v-icon>
                                                    Vencedor
                                                </div>
                                                <div v-if="game.team2.aTie"
                                                    class="blue--text lighten-3 font-weight-medium text-uppercase">
                                                    <v-icon color="blue" small>
                                                        fas fa-balance-scale
                                                    </v-icon>
                                                    Empate
                                                </div>
                                                <div
                                                    class="font-weight-bold text-uppercase text-caption blue-grey--text text--darken-1">
                                                    Pontos:
                                                    {{game.team2.points}}
                                                </div>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </v-list>
                                </v-col>
                            </v-row>
                        </div>
                        <div v-if="champion" class="my-16 py-16 rounded white champion">
                            <v-img :src="champion.photo" max-height="300" height="300" max-width="300" width="300"
                                class="rounded-circle mx-auto">
                            </v-img>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </v-app>
    </div>
</body>

</html>
